/*Medium Layout:768px*/

@media only screen and (min-width: 992px) and (max-width: 1280px) {}

/*Tablet Layout:768px*/

@media only screen and (min-width: 768px) and (max-width: 991px) {

    .addpost {
        margin-left: 0px;
    }
    .catblock,
    .sloginblock,
    .social,
    .copyblock,
    .passchange,
    .passchange,
    .user-block {
        width: 100%;
        max-height: 100%;
        margin-left: 0px;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
    }
    #dataTable {
        font-size: 10px;
    }


}


/*Mobile Layout: 320px*/

@media only screen and (max-width: 767px) {
    .container-fluid{
        padding-left: 0px; 
        padding-right: 0px;
    
    }

    .sidebar-area {
        display: none;
    }
    .padding-left15 {
        padding-left: 15px;
    }

    .padding-right15 {
        padding-right: 15px;
    }
    .mobile-nav-bar,
    .home-btn,
    .site-url-mobile {
        display: inline-block;
    }
    .off-canvas-menu.active {
        opacity: 1;
        margin-left: 0;
    }
    .site-url {
        display: none;
    }

    .catblock,
    .sloginblock,
    .social,
    .copyblock,
    .passchange,
    .passchange,
    .user-block {
        width: 100%;
        max-height: 100%;
        margin-left: 0px;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
    }
    #post-title {
        width: 195px;
    }
    .addpost {
        margin-left: 0px;
    }
    #datepicker {
        width: 168px;
    }
    #dataTable {
        font-size: 10px;
    }
    .section-title h2 {
        font-size: 20px;
    }


}


/*Wide Mobile Layout: 480px*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .container-fluid{
        padding-left: 0px; 
        padding-right: 0px;
    }

    .sidebar-area {
        display: none;
    }
    .padding-left15 {
        padding-left: 15px;
    }

    .padding-right15 {
        padding-right: 15px;
    }
    .off-canvas-menu.active {
        opacity: 1;
        margin-left: 0;
    }
    #active-mobilemenu,
    .home-btn,
    .site-url-mobile {
        display: inline-block;
    }

    .site-url {
        display: none;
    }

    .addpost {
        margin-left: 0px;
    }
    .catblock,
    .sloginblock,
    .social,
    .copyblock,
    .passchange {
        width: 100%;
        margin-left: 0px;
        border: 1px solid #ddd;
        padding: 15px;
        border-radius: 5px;
    }
    #post-title {
        width: 300px;
    }
    #dataTable {
        font-size: 10px;
    }

    .section-title h2 {
        font-size: 20px;
    }
}
